<div id="wrapper">

  <!-- Navigation -->
  <app-navigation></app-navigation>

  <div id="page-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Add new project</h1>
      </div>
      <form [formGroup]="projectForm" (ngSubmit)="save()" role="form">

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Project name</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-inline" id="name" [formControl]="name" value="" />
          </div>
        </div>

        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <input type="textarea" class="form-control form-control-inline" [formControl]="description" name="description" id="description"
              value="" />
          </div>
        </div>
        <div class="form-group row">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </form>
      <!-- /.col-lg-12 -->
    </div>
  </div>
</div>